html{
    width: 100%;
    background-color: grey;
}
body{
    text-align: center;
    width: 80%;
    height: 150%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
p {
    font-size: x-large;
    font-family: sans-serif;
    color: blue;
}

.q1{
    font-size: x-large;
    font-family: sans-serif;
    color: green;
}

.q2{
    font-size: x-large;
    font-family: sans-serif;
    color: green;
}

.q3{
    font-size: x-large;
    font-family: sans-serif;
    color: green;
}

.q4{
    font-size: x-large;
    font-family: sans-serif;
    color: green;
}

div{
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
